@font-face{
  font-family: "novaSoft-bold";
  src: url('/fonts/ProximaNovaSoft-Bold.otf') format('opentype');
}

@font-face{
  font-family: "novaSoft-regular";
  src: url('/fonts/ProximaNovaSoft-Regular.otf') format('opentype');
}

@font-face{
  font-family: "novaSoft-semibold";
  src: url('/fonts/proxima-nova-soft-semibold.otf') format('opentype');
}

body {
  font: 14px "novaSoft-regular", Helvetica, Arial, sans-serif;
  background: url('/images/homebg.jpg') center center no-repeat fixed;
  background-size: cover;
}

a {
  color: #00B7FF;
}

h1{
  color: #673AB7;
}

.btn:hover{
  background-color: #868e96 !important;
  color: white !important;
}

nav.navbar{
  background: #77c9d4; /* Old browsers */
  background: -moz-linear-gradient(left,  #77c9d4 0%, #57bc90 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  #77c9d4 0%,#57bc90 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  #77c9d4 0%,#57bc90 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#77c9d4', endColorstr='#57bc90',GradientType=1 ); /* IE6-9 */
  box-shadow: 0px -5px 20px 0px black;
  font-family: "novaSoft-semibold";
  font-size: 16px;
}

.navbar-nav{
  text-align: center;
}

nav.navbar .navbar-brand{
  position: absolute;
  margin: 0;
  top: -30px;
}

nav.navbar .navbar-brand .logo{
  height: 100px;
  width: 100px;
  display: inline-block;
  background: url('/images/logo.png') center center no-repeat;
  background-size: 100px;
}

.nav-item:hover{
  cursor: pointer;
}

.navbar-collapse button{
  background-color: #ffe001;
  color: #673AB7;
  border-radius: 20px 0;
  display: block;
  margin: 0 auto;
}

.dropdown-menu{
  background: #0000004d;
  border: none;
  text-align: center;
}

.dropdown-menu a {
  color: white;
}

.dropdown-item:hover{
  color: white;
  background-color: #868e96;
}

.carousel{
  box-shadow: 0 0 20px 0 black;
}

.carousel-caption{
  color: black;
  text-shadow: 0 0 5px white;
}

.carousel-caption .btn{
  background-color: #ffe001;
  border: none;
  border-radius: 20px 0;
  box-shadow: 0px 0px 6px 0px #777777;
  color: #3F51B5;
  text-shadow: 0 0 transparent;
}

.carousel-caption p{
  color: #3F51B5;
}

.service{
  border: 1px solid black;
  border-radius: 50% 10px;
  box-shadow: 0 0 20px 0 black;
  overflow: hidden;
  min-height: 334px;
}

.serviceCaption{
  position: relative;
  bottom: 50%;
  color: #795548;
  font-family: "novaSoft-semiBold";
  text-shadow: 0 0 4px #ffffff;
}

.serviceCaption h2{
  transition: transform 0.3s;
}

.serviceImg{
  filter: blur(0px);
  transition: filter 0.3s;
}

.health .serviceImg{
  background: url('/images/health-care.jpg');
}

.dailyCare .serviceImg{
  background: url('/images/daily-care.jpg') right;
  background-size: cover;
}

.leisure .serviceImg{
  background: url('/images/leisure-care.jpg');
}

.payment .serviceImg{
  background: url('/images/payment-care.jpg');
}

.emergency .serviceImg{
  background: url('/images/emergency-care.jpg') center;
}

.other .serviceImg{
  background: url('/images/other-care.jpg');
}

.service:hover .serviceCaption h2{
  transform: scale(1.1);
}

.service:hover .serviceImg{
  filter: blur(20px);
}

.service:hover{
  cursor: pointer;
}

.text-center h1+p.text-justify{
  font-size: 16px;
  margin: 20px auto 50px;
  max-width: 320px;
  color: #3F51B5;
}
@media (min-width: 769px) {
  .carousel-caption{
    width: 25%;
  }
}

@media (min-width: 1025px) {
  .dropdown-menu{
    background: #77c9d4;
    box-shadow: 0 0 14px 0 black;
  }

  .navbar-collapse button{
    margin: 0;
  }
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
  .container.marketing{
    max-width: 80%;
  }
}

@media (max-width: 768px) {
  .carousel-item img{
    right: -212px;
  }
}